<link rel = "stylesheet" href = "css/style.css">

<br><p class = "textcolor2">

Okay <%= current_player_name %> you are X and it is your turn!<br></p>

 <form action="get_move" method="post">
 <body>
        
        <!--<table id='board'>
            <tr>
                <td id='top-left'><%= board[0] %></td>
                <td id='top-center'><%= board[1] %></td>
                <td id='top-right'><%= board[2] %></td>
            </tr>
            <tr>
                <td id='middle-left'><%= board[3] %></td>
                <td id='center'><%= board[4] %></td>
                <td id='middle-right'><%= board[5] %></td>
            </tr>
            <tr>
                <td id='bottom-left'><%= board[6] %></td>
                <td id='bottom-center'><%= board[7] %></td>
                <td id='bottom-right'><%= board[8] %></td>
            </tr>
        </table>-->
		
		
		    <table id='board'><center>
            	<tr>
                	<td id='top-left'><type='submit' name="square" value='<%= board[0] %>'></td>
                	<td id='top-center'><type='submit' name="square" value='<%= board[1] %>'></td>
                	<td id='top-right'><type='submit' name="square" value='<%= board[2] %>'></td>
            	</tr>
            	<tr>
                	<td id='middle-left'><type='submit' name="square" value='<%= board[3] %>'></td>
                	<td id='center'><type='submit' name="square" value='<%= board[4] %>'></td>
                	<td id='middle-right'><type='submit' name="square" value='<%= board[5] %>'></td>
            	</tr>
            	<tr>
                	<td id='bottom-left'><type='submit' name="square" value='<%= board[6] %>'></td>
                	<td id='bottom-center'><type='submit' name="square" value='<%= board[7] %>'></td>
                	<td id='bottom-right'><type='submit' name="square" value='<%= board[8] %>'></td>
            	</tr>
        </table></center>
        </form>
        

